{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/controllers/*.ts",
    "src/models/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts",
    "src/database/**/*"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}
